/* import font family: Montserrat and roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #42577f;
  border-radius: 10px;
}

/* Header */
.header {
  width: 100%;
  padding: 16px 0;
  position: fixed;
  z-index: 6;
  top: 0;
  background-color: white;
  box-shadow: 0 0 5px gray;
}

.container {
  width: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 209px;
  height: 49px;
}

.logo img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar_item {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}

.btn {
  width: 208px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header_btn .btn {
  background-color: #42577f;
}

/* Hero */
.hero {
  max-width: 1920px;
  height: 818px;
  margin: 0 auto;
  background-image: url("../public/hero_banner.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 83px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.hero_center {
  width: 100%;
}

.hero_center_right {
  width: 45%;
  /* height: 100%; */
  padding-left: 0;
}

.hero_center_right h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 58.59px;
  color: #333333;
  margin-top: 112px;
}

.hero_center_right h3 {
  margin-top: 41px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  opacity: 0.9;
}

.hero_center_right p {
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
  line-height: 17px;
}

.hero_center_right .btn {
  background-color: #c5af82;
  margin-top: 40px;
  width: 201px;
  height: 50px;
}

.hero_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;

  overflow: hidden;

  margin-top: 110px;
}

.hero_bottom_left,
.hero_bottom_right {
  width: 50%;
  height: 190px;
  padding: 20px;
}

.hero_bottom_left {
  background-color: #f8f8f8;
}
.hero_bottom_right {
  background-color: #c5af82;
}

.hero_bottom img {
  margin-top: 5px;
}

.hero_bottom_title {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
}

.hero_bottom_description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19.5px;
  color: #333333;
}

.hero_bottom_right {
  color: #f2f2f2;
}
.hero_bottom_right .hero_bottom_description {
  color: #f2f2f2;
}

/* Services */
.services {
  width: 100%;
  height: auto;
  border-radius: 60px;
  margin-top: -130px;
  background: #ffffff;
  padding-top: 181px;
}

.services .container {
  flex-direction: column;
}

.services_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services_title .btn {
  background: none;
  color: #42577f;
  border: 1px solid #42577f;
}

.services_title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.service {
  width: 100%;
  height: 100%;
  margin-top: 46px;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

.service_left,
.service_right {
  width: 49%;
}

.service_card {
  width: 552px;
  height: 161px;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 0 25px;
  padding-top: 41px;
  margin-bottom: 4px;
}

.service_card img {
  margin-left: 12px;
}

.services_card_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.services_card_item h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-right: 15px;
}

.services_card_item .service_open {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.service_right {
  height: 655px;
  margin-top: 6px;

  background: url("../public/servic_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

.service_btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  margin-top: 19px;
  margin-left: 23px;
}

.service_btn {
  padding: 5px 15px;
  background-color: #42577f;
  border-radius: 30px;
  color: #f2f2f2;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.add_point {
  position: relative;
}

.add_point::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c5af82;
  top: 0;
  right: -12px;
}

.hero .add_point::after {
  right: 12px;
}

/* ========= Group =========== */
.group {
  width: 100%;
  height: auto;
  margin-top: 119px;
}

.group .container {
  flex-direction: column;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.group_title {
  text-align: center;
  padding-right: 7px;
}

.group .add_point::after {
  right: -2px;
}

.goup_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  gap: 30px;
}

.group_card-left,
.group_card-right {
  width: 552px;
  height: 583px;
}

.group_card-img:first-child {
  width: 548px;
  height: 365px;
  background: url("../public/group_img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.group_card-right .group_card-img {
  width: 548px;
  height: 365px;
  background: url("../public/group_img2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.goup_cards .expirence {
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  background: #42577f;
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;

  margin-top: 20px;
  margin-left: 20px;
}

.group_card_content {
  padding: 22px 21px;
}

.group_card_content-name {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group_card_content-name span {
  width: 22px;
  height: 5px;
  background-color: #c5af82;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.group_card_content-description {
  margin-top: 16px;
  line-height: 20px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
}

/* ===== Company ======= */
.company {
  max-width: 1872px;
  height: 758px;
  border-radius: 50px;
  background: url("../public/company.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  color: #f2f2f2;
  margin-top: 120px;
}

.company .container {
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.company_title {
  font-size: 35px;
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}

.company_lorem {
  margin-top: 51px;
  font-family: "Montserrat", sans-serif;
  line-height: 21.94px;
  font-size: 18px;
  font-weight: 600;
}

.company_description {
  max-width: 552px;
  margin-top: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.upgrades {
  width: 552px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 39px;
}

.upgrades .upgrade_item {
  width: 261px;
  height: 67px;
}

.upgrade_item_row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upgrade_item_row h3 {
  font-family: "Roboto", sans-serif;
  color: #c5af82;
  font-size: 35px;
  font-weight: 700;
  line-height: 41.02px;
}

.upgrade_item p {
  margin-top: 7px;
}

/* ===== Partner ===== */
.partner {
  width: 100%;
  height: auto;
  margin-top: 120px;
}

.partner .container {
  flex-direction: column;
}

.partner_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner_title {
  display: inline-block;
}

.partner_change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.partner_chnage_left {
  transform: rotate(180deg);
}

.partner_main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 50px;
}

.partner_item {
  width: 282px;
  height: 290px;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.partner_item_img {
  margin: 0 auto;
  width: 242px;
  height: 113px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.partner_item_title {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-top: 16px;
}

.partner_item_stars {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 5px;
}

.partner_item_description {
  margin-top: 16px;
  line-height: 20px;
}

/* ===== Contact ===== */
.contact {
  width: 100%;
  height: auto;
  margin-top: 120px;
  padding-bottom: 245px;
  border-radius: 0 0 60px 60px;
  position: relative;
  z-index: 2;
  background-color: white;
}

.contact .container {
  flex-direction: column;
  align-items: start;

  position: relative;
}

.contact_main {
  position: absolute;
  right: 0;
  top: 2px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  z-index: 2;
}

.contact_main_item {
  width: 320px;
  height: 132px;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px 0px 0 20px;

  display: flex;
  gap: 13px;
}

.contact_main_item_icon {
  width: 50px !important;
  height: 50px;
  background-color: #ebebe7;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_main_item_title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact_main_item_title h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 10px;
}

.contact_main_item_title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.5px;
  color: #333333;
}

.contact_main_item_title_icons {
  display: flex;
  gap: 10px;
}

.contact_map {
  margin-top: 50px;

  position: relative;
}

.contact_map_location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-34%, -14%);
}

.contact_map_location_in_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -123%);
}

.contact_map_location_in_icon img {
  width: 27px;
  height: 25px;
}

/* Contact us */
.contact_us {
  width: 100%;
  height: 718px;
  background: url("../public/Pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -128px;
}

.contact_us .container {
  justify-content: start;
  gap: 48px;
}

.contact_us_form {
  width: 436px;
  height: 646px;
  border-radius: 30px;
  padding: 50px 40px;
  background-color: #333333;
  position: relative;
  z-index: 2;
  margin-top: 7px;
}

.contact_us_form_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.contact_us_form_top h3 {
  color: #f2f2f2;
  font-size: 35px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.contact_us_form_row {
  width: 356px;
  height: 50px;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.contact_us_form_row .contact_us_form_input {
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  opacity: 0.5;
  letter-spacing: 1px;
}

.contact_us_form_row.textarea {
  height: 120px;
  align-items: start;
}

.contact_us_form_row.textarea textarea {
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  opacity: 0.5;
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif;
}

.contact_us_form_checked {
  display: flex;
  align-items: center;
  margin-top: 39px;
  gap: 16px;
  color: #f2f2f2;
}

.contact_us_form_checked input {
  background: none;
}

.form_submit {
  /* display: inline-block; */

  height: 50px;
  border-radius: 30px;
  background: none;
  color: white;
  border: none;
  outline: none;
  background-color: #c5af82;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 15px 25px;
  margin-top: 22px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 16px;
}

.contact_us_people {
  position: relative;
  z-index: 3;
}

/* ===== Footer ===== */
.footer {
  width: 100%;
  margin-top: 47px;
}

.footer .container {
  flex-direction: column;
}

.footer_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .navbar {
  margin-left: -4px;
}

.footer_social_icons {
  display: flex;
  gap: 16px;
}

.hr {
  width: 100%;
  margin: 26px 0;
  color: #333333;
}

.footer_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 50px;
}

/* Modal */
.modal_back {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.724);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.modal_close {
  width: 50px;
  height: 50px;
  /* border: 1px solid; */

  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal_close span {
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}

.modal_close span:first-child {
  transform: rotate(45deg) translate(8px, 8px);
}
.modal_close span:last-child {
  transform: rotate(135deg) translate(-5px, 6px);
}

/* Scroll */

.scroll-top-arrow,
.scroll-top-arrow:focus {
  width: 40px;
  height: 40px;

  border-radius: 25%;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -10px;
  bottom: 10px;
  transition: all 0.4s ease;
  opacity: 0;
  border: none;
  outline: none;

  z-index: 8;
}
.scroll-top-arrow:hover {
  cursor: pointer;
}
.scroll-top-arrow img {
  width: 80%;
}
.scroll-top-arrow.active {
  transition: all 0.5s;
  bottom: 10px;
  right: 10px;
  opacity: 1;
}
